body{
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

nav {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
}

label {
  font-size: 23px;
  font-weight: 600;
  margin-right: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#timer{
  margin-left: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  
}

#memoryContent {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.effectContainer {
  position: relative;
  width: 174px;
  height: 223px;
  margin: 10px;
}

.mainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-size: cover;
  background-position: center;
  transform-style: preserve-3d;
  transition: all 0.8s ease;

}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: black;
  text-align: center;
  z-index: -1;
  border-radius: 5%;
  background-image: url(./images/AI.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 6px 12px rgb(88, 88, 88);

}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: purple;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
  z-index: -1;
  border-radius: 5%;
}

.flipCard {
  transform: rotateY(180deg);
}